@page
@model AC_WebApp.Pages.RegistrationModel
@{
    ViewData["Title"] = "Register or Login";
}

<div class="registration-main-container">
    <div>

    </div>
    <div class="registration-stick"></div>
    <div>

    </div>
</div>
